ul {
  font-family: 'Sawarabi Mincho', serif;
  font-weight: 400;
  font-size: 16px;
}

i {
  width: 20px;
  height: 20px;
}

.card{
  line-height: 1.5;
  padding: 2%;
}

.my-card {
  width: 90%;
  margin: 2% auto 2% auto;
  background-color: #FDF5DF;
}

.card-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.card-text {
  font-family: 'Sawarabi Mincho', serif;
  font-weight: 400;
  font-size: 17px;
}

.no-style-list {
  list-style-type: none;
}
